a {
  text-decoration: none;
  color: #007CA7;
}

*,*:after,*:before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
}
select {
  display: block;
  width: 100%;
  height: 32px;
  font-size: .9em;
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
}
.icon-copy {
  padding-bottom: 30px;
}

.primary-btn,.secondary-btn {
  margin-bottom: 30px;
  padding: 15px 25px;
  border-radius: 3px;
  font-size: .8em;
  cursor: pointer;
  transition: all .2s linear;
  -webkit-transition: all .3s linear;
}
.primary-btn {
  background-color: #FFF;
  color: #00C16B;
  border: 2px solid #00C16B;
}
.primary-btn:hover {
  background-color: #00C16B;
  color: #FFF;
}
.secondary-btn {
  background-color: #FFF;
  color: #1779ba;
  border: 2px solid #1779ba;
}
.secondary-btn:hover {
  background-color: #1779ba;
  color: #FFF;
}

.row {
  width: 100%;
}
.row:after {
  clear: both;
  display: table;
  content:'';
}
.columns {
  float: left;
}
.medium-6 {
  width: 50%;
}

.App {
  text-align: center;
}
.App-holder {
  padding-bottom: 100px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #5C7B8F;
  height: auto;
  padding: 20px 0px;
  color: white;
}
.App-header a {
  width: 100%;
  display: block;
}
.App-header > .row {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.App-header img {
  float: left;
  width: 60px;
  padding-top: 5px;
}

.App-header ul {
  list-style: none;
  float: right;
  padding-top: 10px;
}
.App-header li {
  display: inline-block;
  margin-left: 65px;
}
.App-header ul li a {
  color: #FFF;
}

.App-header a h2 {
  color: #FFF;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 20px;
}
.App-intro {
  font-size: large;
}
.Categories {
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.category {
  display: inline-block;
  float: left;
  text-align: center;
}
.category span {
  padding: 15px 30px;
  border-radius: 4px;
  border: 2px solid #222;
  background-color: #fff;
  color: #222;
  cursor: pointer;
  transition: all .2s linear;
}
.category span.active {
  color: #fff;
  background-color: #222;
}
.category span:hover {
  color: #fff;
  background-color: #222;
}
.post-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0px;
}
.post-content {
  padding: 10px 15px;
  background-color: #F8FAFB;
  border-radius: 3px;
  position: relative;
}
.post-filter {
  float:right;
  width: 50%;
  padding-top: 10px;
}

.num-comments {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #1779ba;
  position: absolute;
  left: -10px;
  top: -10px;
  color: #FFF;
}
.post-content:nth-of-type(even){
  background-color: #eee;
}
.line-buttons {
  text-align: right;
  padding-top: 25px;
  padding-right: 20px;
}
.line-buttons button {
  padding: 10px;
  margin-left: 15px;
  border: 2px solid #1779ba;
  background-color: #1779ba;
  color: #FFF;
  width: 75px;
  border-radius: 3px;
  transition: .2s all linear;
  -webkit-transition: .2s all linear;
  -moz-transition: .2s all linear;
}
.post-buttons button:hover {
  color: #1779ba;
  background-color: #FFF;
}

.score-area > * {
  float: left;
}
.score-area:after {
  clear: both;
  display: table;
  content: '';
}
.score-area p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.score-area p {
  font-size: 1.4em;
  padding: 5px;
}
.score-area span {
  cursor: pointer;
}

.redux,.react,.udacity {
  padding-top: 15px;
  padding-bottom: 15px;
  background-size: 100px;
  background-repeat: no-repeat;
}
.redux {
  background-image: url(./redux.png);
}
.react {
  background-image: url(./react.png);
}
.udacity {
  background-image: url(./udacity.png);
}
.thumb-up,.thumb-down {
  padding: 20px;
  background-position: center center;
  background-size: 28px;
  background-repeat: no-repeat;
  opacity: .4;
}
.thumb-down {
  background-image: url('./thumb-down.svg');
}
.thumb-up {
  background-image: url('./thumb-up.svg');
}
.comment-score .thumb-up, .comment-score .thumb-down {
  background-size: 20px;
}

/**************** SINGLE POST PAGE *******************/

.post-page {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.post-header {
  padding-top: 30px;
}

.post-header button {
  min-width: 100px;
  text-align: center;
}

.post-header button:nth-of-type(2) {
  margin-left: 15px;
}

.single-comment {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #E4E9EC;
}
.single-comment:nth-of-type(odd){
  background-color: #E4E9EC;
}

.comment-score span {
  padding: 10px;
  font-size: 1.2em;
}
.comment-score span:nth-of-type(1),.comment-score span:nth-of-type(3){
  cursor: pointer;
}
.com-said {
  color: #537C8D;
}

/******************** MODAL DESIGN *************************/

.modal-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.75);
}

.modal-design {
  bottom: auto;
  right: auto;
  left: 50%;
  top: 10%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  position: absolute;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 30px;
  text-align: center;
}
.modal-design:focus {
  outline: none;
}

.modal-design .x-button {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 1.6em;
  color: #000;
  cursor: pointer;
}
.modal-design label,
.modal-design input,
.modal-design textarea {
  display: block;
  margin-bottom: 20px;
}
.modal-design.posts label {
  margin-bottom: 5px;
}

.modal-design label {
  text-align: left;
}
.modal-design textarea {
  width: 100%;
  height: 80px;
  font-size: .9em;
  padding-left: 5px;
  padding-top: 2px;
  border: 1px solid #ccc;
}
.modal-design form div {
  display: none;
}
.modal-design form div.active {
  display: block;
}
.modal-design button {
  font-size: 1em;
  width: 170px;
}


.modal-design input {
  width: 100%;
  padding: 10px 0px 10px 10px;
  font-size: 1.2em;
}

.comment-button {
  float:right;
}

/******************** ERROR DESIGN *************************/

.error-container {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 400px;
}

.error-container h3 {
  font-size: 3em
}
.error-container p {
  font-size: 1.5em;
}
.error-container .crying-image {
  height: 140px;
  background-image: url(./crying.png);
  background-repeat: no-repeat;
}


